@charset "utf-8";

body {
  margin: 0;
}

#container {
  margin: 0 8px 40px;
  position: relative;
}

.iconBox {
  position: absolute;
  top: 0;
  right: 8px;
}

.iconBox > i {
  background-color: #ccc;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: #333 2px solid;
  cursor: pointer;
  margin-left: 3px;
}

p {
  font-size: 14px;
}

h1 {
  margin: 16px 0 0 0;
  font-size: 20px;
  text-align: center;
}

p {
  margin: 0.5em 0;
}

.menus {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menus > li {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

.menus button {
  margin-right: 8px;
  width: 24px;
}

.ingredients {
  font-size: 12px;
  cursor: pointer;
  background-color: bisque;
  border-radius: 8px;
  padding: 4px;
}

.ingredientsItem {
  font-size: 12px;
  margin: 0;
}

@media (min-width: 600px) {
  #container {
    width: 600px;
    margin: 0 auto;
  }
  p {
    font-size: 16px;
  }
}

dl {
  margin: 0;
}

dl > div {
  margin-bottom: 8px;
}

dt {
  /* padding: 8px; */
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::after {
  content: '+';
  position: absolute;
  /* top: 8px; */
  right: 16px;
  transition: transform .3s;
}

div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  display: none;
}

div.appear dd {
  display: block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}