@charset "utf-8";

body {
  margin: 0;
}

#container {
  margin: 0 8px 40px;
  position: relative;
}

.iconBox {
  position: absolute;
  top: 0;
  right: 8px;
}

.iconBox > i {
  background-color: #ccc;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: #333 2px solid;
  cursor: pointer;
  margin-left: 3px;
}

.iconBox > i.copied {
  color: green;
  background-color: antiquewhite;
  border-color: green;
}

#modal .iconBox {
  top: 48px;
  right: 24px;
}
#modal .iconBox > i {
  padding: 0 0 .5px .5px;
}

p {
  font-size: 14px;
}

h1 {
  margin: 16px 0 0 0;
  font-size: 20px;
  text-align: center;
}

p {
  margin: 0.5em 0;
}

.menus {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menus > li {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

.menus button {
  margin-right: 8px;
  width: 24px;
}

.ingredients {
  font-size: 12px;
  cursor: pointer;
  background-color: bisque;
  border-radius: 8px;
  padding: 4px;
}

.ingredientsItem {
  font-size: 12px;
  margin: 0;
}

@media (min-width: 600px) {
  #container {
    width: 600px;
    margin: 0 auto;
  }
  p {
    font-size: 16px;
  }
}

dl {
  margin: 0;
}

dl > div {
  margin-bottom: 8px;
}

dt {
  /* padding: 8px; */
  cursor: pointer;
  user-select: none;
  position: relative;
}

/* dt::after {
  content: '+';
  position: absolute;
  right: 16px;
  transition: transform .3s;
} */

dt > i {
  position: absolute;
  top: 3px;
  right: 16px;
  transition: transform .3s;
}

div.appear dt > i {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  display: none;
}

div.appear dd {
  display: block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
  overflow: scroll;
}

#modal > p {
  margin: 20px 0 0;
}

input:checked + label {
  text-decoration: line-through;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -600px);
}